h1 {
  color: #58a4b0; }

h2 {
  color: #373f51; }

h3 {
  color: #58a4b0; }

p {
  padding: 0px; }

body {
  background-color: #d8dbe2;
  height: 100%; }

#formControl {
  background-color: white;
  width: 200px;
  margin-top: 6%;
  margin-right: 25px; }

@media (min-width: 576px) and (max-width: 767px) {
  #formControl {
    margin-top: 0; } }

@media (max-width: 575px), (max-height: 500px) {
  #formControl {
    margin-top: 0; } }

.App {
  text-align: center;
  background-color: #d8dbe2; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #373f51;
  border-bottom: 4px solid #58a4b0; }

.nav h1 {
  padding-left: 25px; }

@media (min-width: 576px) and (max-width: 767px) {
  .nav {
    padding-left: 0px;
    justify-content: center;
    flex-direction: column;
    height: 175px; } }

@media (max-width: 575px), (max-height: 500px) {
  .nav {
    padding-left: 0px;
    justify-content: center;
    flex-direction: column;
    height: 175px; } }

.film-section {
  margin: 60px 0; }

.id-input {
  margin-right: 20px; }

.info-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.spinner {
  margin-top: 50px; }
